.MegaMenu{
    list-style: none;
    margin: 0px;
    
}
.MegaMenu li{
    font-weight:bold;
}
.MegaMenu li:hover{
    cursor: pointer;
}
.MegaMenuDropDown{
    display: none;
    z-index: 1000;
    transition: all 0.3s ease;
}
.MegaMenuDropDown ul{
    list-style: none;
    display: flex;
    margin: 1%;
    gap: 1%
}.MegaMenuDropDown ul li h5{
    font-size: 1.1rem;
    font-weight: bold;
}